.coverImg {
  background-image: url(../assets/bridge.jpg);
  height: 100vh;
}
.layer {
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.icons {
  font-size: 1.5rem;
  color: white;
  transition: all 0.3s;
}
.icons:hover {
  color: #1b8754;
  font-size: 2rem;
  transition: all 0.3s;
}
